.logo-image {
    max-width: 500px;
}

.logo-image img {
    max-width: 100%;
}

.login-user {
    font-size: 12rem;
    color: #557D2F;
}

.input-custom-avocado {
    border: 2px solid #557D2F;
}

.custom-shape {
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 35px;
    padding: .75rem 3.5rem;
}

.btn-custom-brown {
    color: #fff;
    background-color: #713D22;
}

.btn-custom-brown:hover {
    color: #fff;
    background-color: #834a2c;
}

.color-avocado {
    color: #557D2F;
    font-size: 1.2rem;
}

.text-bg-brown {
  color: #fff!important;
  background-color: #713D22!important;
}


.btn-add {
    display: inline-block;
    background-color: #478B16;
    width: 30px;
    height: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    font-size: 1.3rem;
    transition: all .4s ease-in-out;
}

.btn-add:hover {
    background-color: #BBBC46;
}

.btn-add svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}


/* profile */
.profile-image {
    width: 300px;
}

.profile-image img {
    width: 100%;
}

/* imagem planta */
.imageWrapper {
    /* border: 2px solid transparent; */
    background-color: #4D8218;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.clickable {
    cursor: pointer;
}

/* display: flex; justify-content: center; align-items:center; background-color: #87A631 */

.imageWrapper.hoverable:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageWrapper svg {
    font-size: 6rem;
}

/* card planta */

.card-plant-clickable {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: .75rem;
    border-radius: 15px;
    transition: background .3s ease-in-out;
    height: 260px;
    cursor: pointer;
}

.card-plant-clickable.checked {
  background-color: #00a65a;
  color: white!important;
}

.card-plant-clickable.searchable {
    height: 170px;
}

.card-plant-clickable:hover {
    background: #e7e7e7;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#svg_planta {
    font-size: 5rem;
}

/* visualizar solicitacao */
#visualizar-solicitacao .nav-link.rounded-pill {
    font-size: 1.3rem;
    color: #713D22;
    background-color: #fff;
    border-color: #713D22;
    width: 20rem;
    background-color: #ececec;
    transition: all .4s ease-in-out;
    margin-bottom: .75rem;
}
#visualizar-solicitacao .nav-link.rounded-pill:hover {
    filter: brightness(.9);
}

#visualizar-solicitacao .nav-link.rounded-pill.active {
    color: #fff;
    background-color: #713D22;
}

#visualizar-solicitacao .nav-link.rounded-pill.active:hover {
    filter: brightness(1.1);
}

/* chat */

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .box .nav-stacked>li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
  }
  
  .box .nav-stacked>li:last-of-type {
    border-bottom: none;
  }
  
  .box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
  }
  
  .box .border-right {
    border-right: 1px solid #f4f4f4;
  }
  
  .box .border-left {
    border-left: 1px solid #f4f4f4;
  }
  
  .box.box-solid {
    border-top: 0;
  }
  
  .box.box-solid>.box-header .btn.btn-default {
    background: transparent;
  }
  
  .box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .box.box-solid.box-default {
    border: 1px solid #d2d6de;
  }
  
  .box.box-solid.box-default>.box-header {
    color: #444;
    background: #d2d6de;
    background-color: #d2d6de;
  }
  
  .box.box-solid.box-default>.box-header a, .box.box-solid.box-default>.box-header .btn {
    color: #444;
  }
  
  
  .box.box-solid.box-success {
    border: 1px solid #00a65a;
  }
  
  .box.box-solid.box-success>.box-header {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a;
  }
  
  .box.box-solid.box-success>.box-header a, .box.box-solid.box-success>.box-header .btn {
    color: #fff;
  }
  
  .box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none;
  }
  
  .box.box-solid[class*='bg']>.box-header {
    color: #fff;
  }
  
  .box .box-group>.box {
    margin-bottom: 5px;
  }
  
  .box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
  }
  
  .box>.overlay, .overlay-wrapper>.overlay, .box>.loading-img, .overlay-wrapper>.loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%}
  
  .box .overlay, .overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
  }
  
  .box .overlay>.fa, .overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
  }
  
  .box .overlay.dark, .overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table;
  }
  
  .box-header:after, .box-body:after, .box-footer:after {
    clear: both;
  }
  
  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
  }
  
  .box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
  }
  
  .collapsed-box .box-header.with-border {
    border-bottom: none;
  }
  
  .box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
  }
  
  .box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
    margin-right: 5px;
  }
  
  .box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  
  .box-header>.box-tools [data-toggle="tooltip"] {
    position: relative;
  }
  
  .box-header>.box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  
  .btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
  }
  
  .open .btn-box-tool, .btn-box-tool:hover {
    color: #606c84;
  }
  
  .btn-box-tool.btn:active {
    box-shadow: none;
  }
  
  .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
  }
  
  .no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  
  .box-body>.table {
    margin-bottom: 0;
  }
  
  .box-body .fc {
    margin-top: 5px;
  }
  
  .box-body .full-width-chart {
    margin: -19px;
  }
  
  .box-body.no-padding .full-width-chart {
    margin: -9px;
  }
  
  .box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
  }
  
  .box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
  }
  
  .box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
  }
  
  .direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
  }
  
  .direct-chat-messages {
    -webkit-transform: translate(0,  0);
    -ms-transform: translate(0,  0);
    -o-transform: translate(0,  0);
    transform: translate(0,  0);
    padding: 10px;
    height: 44vh;
    overflow: auto;
  }
  
  .direct-chat-msg, .direct-chat-text {
    display: block;
  }
  
  .direct-chat-msg {
    margin-bottom: 2rem;
  }
  
  .direct-chat-msg:before, .direct-chat-msg:after {
    content: " ";
    display: table;
  }
  
  .direct-chat-msg:after {
    clear: both;
  }
  
  .direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444;
    width: 60%;
  }
  
  .direct-chat-text:after, .direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
  }
  
  .direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
  }
  
  .direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
  }
  
  .right .direct-chat-text {
    margin-right: 50px;
    margin-left: auto;
  }
  
  .right .direct-chat-text:after, .right .direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d2d6de;
  }
  
  .direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
  }
  
  .right .direct-chat-img {
    float: right;
  }
  
  .direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
  }
  
  .direct-chat-name {
    font-weight: 600;
  }
  
  .direct-chat-timestamp {
    color: #999;
  }
  
  .direct-chat-success .right .direct-chat-text {
    background: #00a65a;
    border-color: #00a65a;
    color: #fff;
  }
  
  .direct-chat-success .right .direct-chat-text:after, .direct-chat-success .right>.direct-chat-text:before {
    border-left-color: #00a65a;
  }
  
  #input-group-mensagem.is-invalid {
    border-color: var(--bs-form-invalid-border-color);
  }
  
